body {
	background: #E9E4D1;
}

#formulario {
	
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

fieldset{
    border: .1em solid #F60;
    border-radius: 0.5em;
    padding: 1em;
}

form {
	width: 60%;
}

form a {
	font-size: 1.3em;
	text-decoration: none;
}

legend{
    color: #B97230;
    font-size: 1.2em;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="submit"] {
	border-radius: 0.25em;
	padding: 0.25em;
}

input[type="text"], input[type="password"] {
  	margin-bottom: 0.5em;
    	width: 95%;
}

input[type="button"], input[type="submit"]{
	background: #1F74A4;
	border-radius: 0.30em;
	color: #FFF;
	cursor: pointer;
	font-size: 1.25em;
}

.texto1 {
	color: #DD0101;
}

.texto2{
	color: #357B48;
}