nav, .page-footer {
    background-color: #787979;
}
.principal-container {
    margin: 6vh auto;
    min-height: 70vh;
}

.row {
    text-align: justify;
}

.sociales {
    text-align: center;
}

#send-button {
    text-align: center;
}

#notificacion {
    color: red;
}

footer {
    left:0px;
    bottom:0px;
    width:100%;
}

.footer-copyright {
    text-align: center;
}