nav, .page-footer {
    background-color: #787979;
}
.principal-container {
    margin: 5vh auto;
}

.row {
    text-align: justify;
}

.sociales {
    text-align: center;
}

footer {
    left:0px;
    bottom:0px;
    width:100%;
}

.footer-copyright {
    text-align: center;
}